<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!--사용자용 css, javascript 추가-->
        <th:black layout:fragment="script"></th:black>
        <th:black layout:fragment="css"></th:black>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <div th:replace="~{fragments/sidebar::sidebar}" class="border-end bg-white" id="sidebar-wrapper"></div>
            <div id="page-content-wrapper">
                <nav th:replace="~{fragments/navbar::navbar}" class="navbar navbar-expand-lg navbar-light bg-light border-bottom"></nav>
                <div layout:fragment="content" class="container-fluid"></div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
